.sidebar .table-of-contents {
    position: fixed;
    top: 50%;
    left: 0;
    width: 200px;
    height: 100%;
    overflow: auto;
    padding: 10px;
    background-color: #f5f5f5;
}

.hover-note {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    z-index: 9999;
}
                        
sup:hover .hover-note {
   display: inline-block;
}
                        
.Drop-capital {
  display: inline;
  line-height:1,9;
  font-weight: 800;
  font-size: 24px;
}