{{ $viewerID := .Get "id" }}
{{ $manifestURL := .Get "manifestURL" }}
{{ $canvasURL := .Get "canvasURL" }}

<div id="{{ $viewerID }}" style="width:50%; height:50%; background-color: #000"></div>
<script src="https://unpkg.com/mirador@latest/dist/mirador.min.js"></script>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function() {
    var miradorInstance = mirador.createMiradorViewer({
      "manifests": {
        "{{ $manifestURL }}": {
          "provider": "ULB Sachsen-Anhalt, Halle"
        }
      },
      // Autres configurations de Mirador
      "miradorDownloadPlugin": {"restrictDownloadOnSizeDefinition": true},
      "language": "fr",
      "id": "{{ $viewerID }}",
      "windows": [{
        "canvasId": "{{ $canvasURL }}",
        // Autres configurations de fenêtre
        "thumbnailNavigationPosition": "far-bottom"
      }],
      // Autres configurations globales
      "selectedTheme": "dark",
      "allowFullscreen": true
    });
  });
</script>